.spacer{
    height: 0.5rem;
}

.event-list-container{
    // padding-left: 2rem;
    // padding-right: 2rem;

    button{
        min-width: 4.5rem;
    }
}

.edit-btn{
    margin-right: 0.5rem;

}

.mobile-only{
    display: none;
}

.seprator{
    width: 100%;

}

.date-th{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 992px) {

    .mobile-only {
        display: block;
    }
  
}

@media (max-width:768px){
        .event-list-container{
        padding-left: unset;
        padding-right: unset;
    }
}