<div class="dashboard-container glass-container">
  <h2 class="glass-header">Dashboard</h2>
  <div class="description-display">
    <div >
      <span>
        To modify events, navigate to the Manage Events.

      </span>
    </div>
    <button nz-button nzType="primary" class="main-btn" (click)="goToEventManagement()">Manage Events</button>

  </div>
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="12" [nzMd]="8">
      <nz-card>
        <nz-statistic [nzValue]="totalEvents" [nzTitle]="'Total Events'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="12" [nzMd]="8">
      <nz-card>
        <nz-statistic [nzValue]="publicEvents" [nzTitle]="'Public Events'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="12" [nzMd]="8">
      <nz-card>
        <nz-statistic [nzValue]="privateEvents" [nzTitle]="'Private Events'"></nz-statistic>
      </nz-card>
    </nz-col>
  </nz-row>
  <nz-card nzTitle="Upcoming Events" *ngIf="upcomingEvents.length > 0">
    <nz-list>
      <nz-list-item *ngFor="let event of upcomingEvents">
        {{ event.title }} - {{ event.startDateTime | date:'short' }} ({{ event.venue.venueName }})
      </nz-list-item>
    </nz-list>
  </nz-card>
  <div class="spacer"></div>
  
  <div class="spacer"></div>
  
</div>