<nz-card nzTitle="{{ isEditMode ? 'Edit Event' : 'Create Event' }}" [nzBordered]="true">
  <form nz-form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
          <nz-form-label [nzRequired]="true">Title</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="title" placeholder="Event Title" />
          </nz-form-control>
        </nz-form-item>
         <nz-form-item>
          <nz-form-label>Description</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="description" placeholder="Event Description" />
          </nz-form-control>
        </nz-form-item>
    

    <nz-row [nzGutter]="16">
      <nz-col [nzMd]="8" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Start Date & Time</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="startDateTime" nzShowTime></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzMd]="8" [nzXs]="24">
        <nz-form-item>
          <nz-form-label>End Date & Time</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="endDateTime" nzShowTime></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzMd]="8" [nzXs]="24">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Timezone</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="timezone" placeholder="e.g., UTC" />
            </nz-form-control>
          </nz-form-item>
      </nz-col>

    </nz-row>

    
    
    
    <nz-form-item>
      <nz-form-label>Location (Venue)</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="venue.venueName" placeholder="Venue Name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Primary Image URL</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="primaryImageUrl" placeholder="Paste image URL" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Cover Image URL</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="coverImageUrl" placeholder="Paste image URL" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Public Event</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="isPublic"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <div class="btn-wrap">
        <button nz-button nzType="primary" [disabled]="!eventForm.valid" type="submit">Submit</button>
        <button nz-button nzType="default" (click)="onCancel()" style="margin-left: 8px;">Cancel</button>
      </div>
    </nz-form-item>
    
  </form>
</nz-card>